In [13]:
import pandas as pd

# Tabla de Recomendacion

Basandonos en las tablas creadas para FastAPI creamos una para el Modelo de Recomendación

- merged_steam_rev_data.parquet

In [14]:
merged_steam_rev_content = '../FastAPI/merged_steam_rev_data.parquet'
merged_steam_rev_data = pd.read_parquet(merged_steam_rev_content)

- merged_steam_user_data.parquet

In [15]:
merged_steam_user_content = '../FastAPI/merged_steam_user_data.parquet'
merged_steam_user_data = pd.read_parquet(merged_steam_user_content)

- Fusionamos las Tablas

In [16]:
# Fusionar los DataFrames por las columnas mencionadas
merged_recommend_model_data = pd.merge(merged_steam_rev_data[['item_id','app_name', 'recommend', 'sentiment_analysis']],
                                       merged_steam_user_data[['item_id', 'user_id']],
                                       on='item_id')

# Ordenar por la columna 'app_name'
merged_recommend_model_data.sort_values('item_id', inplace=True)

In [17]:
merged_recommend_model_data.head()

     item_id        app_name  recommend  sentiment_analysis            user_id
483       10  Counter-Strike       True                   2  76561197986591060
489       10  Counter-Strike       True                   2            Segraps
490       10  Counter-Strike       True                   2  76561198083594288
491       10  Counter-Strike       True                   2       jeoliveira10
492       10  Counter-Strike       True                   2            msoles7

In [18]:
merged_recommend_model_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 14636 entries, 483 to 10685
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   item_id             14636 non-null  int64
 1   app_name            14636 non-null  object
 2   recommend           14636 non-null  bool
 3   sentiment_analysis  14636 non-null  int64
 4   user_id             14636 non-null  object
dtypes: bool(1), int64(2), object(2)
memory usage: 586.0+ KB

In [19]:
merged_recommend_model_data.drop_duplicates(inplace=True)

In [20]:
unique_item_ids_count = merged_recommend_model_data['item_id'].nunique()
print(unique_item_ids_count)

384

In [21]:
unique_app_names_count = merged_recommend_model_data['app_name'].nunique()
print(unique_app_names_count)

384

In [22]:
unique_user_id_count = merged_recommend_model_data['user_id'].nunique()
print(unique_user_id_count)

3474

In [23]:
merged_recommend_model_data.head()

     item_id        app_name  recommend  sentiment_analysis            user_id
483       10  Counter-Strike       True                   2  76561197986591060
489       10  Counter-Strike       True                   2            Segraps
490       10  Counter-Strike       True                   2  76561198083594288
491       10  Counter-Strike       True                   2       jeoliveira10
492       10  Counter-Strike       True                   2            msoles7

#### En este caso como tenemos 2 dataframes ya pequeños, no es necesario 'samplear' aleatoriamente el df resultante, por lo que se procede a guardar.

In [24]:
merged_recommend_model_data.to_parquet('../FastAPI/merged_recommend_model.parquet', index=False)