In [1]:
import pandas as pd

# Tabla de Recomendacion

Basandonos en las tablas creadas para FastAPI creamos una para el Modelo de Recomendación

- merged_steam_rev_data.parquet

In [2]:
# Direccion del archivo comprimido y reconvertido
merged_steam_rev_content = 'FastAPI/merged_steam_rev_data.parquet'

# Cargar directamente el archivo comprimido en un DataFrame
merged_steam_rev_data = pd.read_parquet(merged_steam_rev_content)

- merged_steam_user_data.parquet

In [3]:
# Direccion del archivo comprimido y reconvertido
merged_steam_user_content = 'FastAPI/merged_steam_user_data.parquet'

# Cargar directamente el archivo comprimido en un DataFrame
merged_steam_user_data = pd.read_parquet(merged_steam_user_content)

- Fusionamos las Tablas

In [4]:
# Fusionar los DataFrames por las columnas mencionadas
merged_recommend_model_data = pd.merge(merged_steam_rev_data[['item_id','app_name', 'recommend', 'sentiment_analysis']],
                                       merged_steam_user_data[['item_id', 'user_id']],
                                       on='item_id')

# Ordenar por la columna 'app_name'
merged_recommend_model_data.sort_values('item_id', inplace=True)

In [5]:
merged_recommend_model_data.head()

     item_id        app_name  recommend  sentiment_analysis            user_id
414       10  Counter-Strike       True                   1  76561198098976923
457       10  Counter-Strike       True                   0       OldLeakyBoat
456       10  Counter-Strike       True                   0  76561198045544792
455       10  Counter-Strike       True                   0  76561198033873460
454       10  Counter-Strike       True                   2     XmissbattosaiX

In [6]:
merged_recommend_model_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10489 entries, 414 to 9228
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   item_id             10489 non-null  int64
 1   app_name            10489 non-null  object
 2   recommend           10489 non-null  bool
 3   sentiment_analysis  10489 non-null  int64
 4   user_id             10489 non-null  object
dtypes: bool(1), int64(2), object(2)
memory usage: 420.0+ KB

In [7]:
merged_recommend_model_data.drop_duplicates(inplace=True)

In [8]:
# Contar la cantidad de elementos únicos en la columna 'item_id'
unique_item_ids_count = merged_recommend_model_data['item_id'].nunique()
# Mostrar la cantidad de elementos únicos en 'item_id'
print(unique_item_ids_count)

228

In [9]:
# Contar la cantidad de elementos únicos en la columna 'app_name'
unique_app_names_count = merged_recommend_model_data['app_name'].nunique()
# Mostrar la cantidad de elementos únicos en 'item_id'
print(unique_app_names_count)

228

In [10]:
# Contar la cantidad de elementos únicos en la columna 'app_name'
unique_user_id_count = merged_recommend_model_data['user_id'].nunique()
# Mostrar la cantidad de elementos únicos en 'item_id'
print(unique_user_id_count)

2445

In [11]:
merged_recommend_model_data.head()

     item_id        app_name  recommend  sentiment_analysis            user_id
414       10  Counter-Strike       True                   1  76561198098976923
457       10  Counter-Strike       True                   0       OldLeakyBoat
456       10  Counter-Strike       True                   0  76561198045544792
455       10  Counter-Strike       True                   0  76561198033873460
454       10  Counter-Strike       True                   2     XmissbattosaiX

In [12]:
# Guardar el DataFrame fusionado en un archivo .parquet
merged_recommend_model_data.to_parquet('FastAPI/merged_recommend_model.parquet', index=False)