In [17]:
import pandas as pd

# Tabla de Recomendacion

Basandonos en las tablas creadas para FastAPI creamos una para el Modelo de Recomendación

- merged_steam_rev_data.parquet

In [18]:
# Direccion del archivo comprimido y reconvertido
merged_steam_rev_content = 'data/FastAPI/merged_steam_rev_data.parquet'

# Cargar directamente el archivo comprimido en un DataFrame
merged_steam_rev_data = pd.read_parquet(merged_steam_rev_content)

- merged_steam_user_data.parquet

In [19]:
# Direccion del archivo comprimido y reconvertido
merged_steam_user_content = 'data/FastAPI/merged_steam_user_data.parquet'

# Cargar directamente el archivo comprimido en un DataFrame
merged_steam_user_data = pd.read_parquet(merged_steam_user_content)

- Fusionamos las Tablas

In [20]:
# Fusionar los DataFrames por las columnas mencionadas
merged_recommend_model_data = pd.merge(merged_steam_rev_data[['item_id','app_name', 'recommend', 'sentiment_analysis']],
                                       merged_steam_user_data[['item_id', 'user_id']],
                                       on='item_id')

# Ordenar por la columna 'app_name'
merged_recommend_model_data.sort_values('item_id', inplace=True)

In [21]:
merged_recommend_model_data.head()

     item_id        app_name  recommend  sentiment_analysis            user_id
605       10  Counter-Strike      False                   2      PorkChopElite
517       10  Counter-Strike       True                   1       tomdabomb115
518       10  Counter-Strike       True                   1      jordanwech111
519       10  Counter-Strike       True                   1  76561198071047037
520       10  Counter-Strike       True                   1    shitmelnbonsays

In [22]:
merged_recommend_model_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 14385 entries, 605 to 10354
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   item_id             14385 non-null  int64
 1   app_name            14385 non-null  object
 2   recommend           14385 non-null  bool
 3   sentiment_analysis  14385 non-null  int64
 4   user_id             14385 non-null  object
dtypes: bool(1), int64(2), object(2)
memory usage: 576.0+ KB

In [23]:
merged_recommend_model_data.drop_duplicates(inplace=True)

In [24]:
# Contar la cantidad de elementos únicos en la columna 'item_id'
unique_item_ids_count = merged_recommend_model_data['item_id'].nunique()
# Mostrar la cantidad de elementos únicos en 'item_id'
print(unique_item_ids_count)

375

In [25]:
# Contar la cantidad de elementos únicos en la columna 'app_name'
unique_app_names_count = merged_recommend_model_data['app_name'].nunique()
# Mostrar la cantidad de elementos únicos en 'item_id'
print(unique_app_names_count)

375

In [26]:
# Contar la cantidad de elementos únicos en la columna 'app_name'
unique_user_id_count = merged_recommend_model_data['user_id'].nunique()
# Mostrar la cantidad de elementos únicos en 'item_id'
print(unique_user_id_count)

3486

In [27]:
merged_recommend_model_data.head()

     item_id        app_name  recommend  sentiment_analysis            user_id
605       10  Counter-Strike      False                   2      PorkChopElite
517       10  Counter-Strike       True                   1       tomdabomb115
518       10  Counter-Strike       True                   1      jordanwech111
519       10  Counter-Strike       True                   1  76561198071047037
520       10  Counter-Strike       True                   1    shitmelnbonsays

In [28]:
# Guardar el DataFrame fusionado en un archivo .parquet
merged_recommend_model_data.to_parquet('data/FastAPI/merged_recommend_model.parquet', index=False)