In [11]:
import pandas as pd

In [12]:
steam_rev_content = 'FastAPI/merged_steam_rev_data.parquet'
steam_rev_data = pd.read_parquet(steam_rev_content)

In [13]:
steam_user_content = 'FastAPI/merged_steam_user_data.parquet'
steam_user_data = pd.read_parquet(steam_user_content)

In [14]:
random_merged_recommend_content = 'FastAPI/merged_recommend_model.parquet'
random_merged_recommend_model = pd.read_parquet(random_merged_recommend_content)

In [15]:
steam_rev_data.head()

               app_name  item_id  release_year  recommend  sentiment_analysis
0  Sword of the Samurai   327950          1989       True                   2
1        Commander Keen     9180          1990       True                   2
2                 LOOM™    32340          1990       True                   2
3        Commander Keen     9180          1990      False                   0
4         Crystal Caves   358260          1991       True                   2

In [16]:
steam_user_data.head()

,item_id,user_id,playtime_forever,genres,release_year
0,620,76561198062042547,2268,RPG,2010
1,55230,Str1ke4,307,Action,2000
2,34270,76561198040135674,5,Indie,2017
3,34330,hyphyy,2960,Strategy,2017
4,35420,Shykorus_Wilde_Totora,0,Web Publishing,2016

In [17]:
random_merged_recommend_model.head()

   item_id        app_name  recommend  sentiment_analysis            user_id
0       10  Counter-Strike       True                   2  76561197986591060
1       10  Counter-Strike       True                   2            Segraps
2       10  Counter-Strike       True                   2  76561198083594288
3       10  Counter-Strike       True                   2       jeoliveira10
4       10  Counter-Strike       True                   2            msoles7

In [18]:
max_release_year_steam_rev_data = steam_rev_data['release_year'].max()
min_release_year_steam_rev_data = steam_rev_data['release_year'].min()
max_release_year_steam_user_data = steam_user_data['release_year'].max()
min_release_year_steam_user_data = steam_user_data['release_year'].min()
print(f"El rango de release_year en steam_rev_data es: {min_release_year_steam_rev_data} hasta {max_release_year_steam_rev_data}")
print(f"El rango de release_year en steam_user_data es: {min_release_year_steam_user_data} hasta {max_release_year_steam_user_data}")

El rango de release_year en steam_rev_data es: 1989 hasta 2017
El rango de release_year en steam_user_data es: 1998 hasta 2018

In [30]:
release_year_unicos_steam_rev_data = steam_rev_data['release_year'].unique()
release_year_unicos_steam_rev_data = sorted(release_year_unicos_steam_rev_data, reverse=True)
release_year_unicos_steam_rev_data_sorted = pd.DataFrame({'release_year': release_year_unicos_steam_rev_data})
release_year_unicos_steam_rev_data_sorted = release_year_unicos_steam_rev_data_sorted.sort_values(by='release_year', ascending=False).reset_index(drop=True)
print(release_year_unicos_steam_rev_data)

[2017, 2016, 2015, 2014, 2013, 2012, 2011, 2010, 2009, 2008, 2007, 2006, 2005, 2004, 2003, 2002, 2001, 2000, 1999, 1998, 1997, 1996, 1995, 1994, 1993, 1992, 1991, 1990, 1989]

In [31]:
release_year_unicos_steam_user_data = steam_user_data['release_year'].unique()
release_year_unicos_steam_user_data = sorted(release_year_unicos_steam_user_data, reverse=True)
release_year_unicos_steam_user_data_sorted = pd.DataFrame({'release_year': release_year_unicos_steam_user_data})
release_year_unicos_steam_user_data_sorted = release_year_unicos_steam_user_data_sorted.sort_values(by='release_year', ascending=False).reset_index(drop=True)
print(release_year_unicos_steam_user_data)

[2018, 2017, 2016, 2015, 2014, 2013, 2012, 2011, 2010, 2009, 2008, 2007, 2006, 2005, 2003, 2002, 2001, 2000, 1999, 1998]

In [32]:
user_ids_unicos = steam_user_data['user_id'].unique()
user_ids_df = pd.DataFrame({'user_id': user_ids_unicos})
print(user_ids_unicos)
user_ids_df.head(10)

['76561198062042547' 'Str1ke4' '76561198040135674' ... 'nitroshroom'
 'TuaMater' 'drsaw']

                 user_id
0      76561198062042547
1                Str1ke4
2      76561198040135674
3                 hyphyy
4  Shykorus_Wilde_Totora
5            Gunstorm246
6      76561198105011167
7                fenetic
8         Doctorsicknote
9          captainmehico